<div class="row ml-5 mt-5">
  <h1>{{category?.name}}</h1>
</div>
<div class="row ml-5">
  <p class="text-secondary">Aim your exact selection</p>
</div>
<div class="row ">
<div class="container-fluid mt-5 ml-5">
  <!-- <div class="row"> -->
  <!-- <div *ngFor="let category of products" class="col-md-2 col-md-3 col-sm-6"> -->
    <!-- <div *ngFor="let category of categories" class="col"> -->
    <!-- <app-category-card [category]="category"></app-category-card> -->
    <!-- </div> -->
  <!-- </div> -->
<div class="row">
      <div  *ngFor="let product of products" >
        <!-- class="col-md-2 col-md-3 col-sm-6" -->
     <app-product-card [product]="product"></app-product-card>
     </div>
    </div>  
    

    </div>

    

