<<<<<<< Updated upstream
=======
/* .container{
    position: relative;
    border-color: black;
} */
.carousela{
    position: relative;
    /* margin:auto; */
    width:100%;
    min-height:25% !important;
  max-height: 100px;
  object-fit: contain; 
}
.item img{
  width:100%;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.item{
  /* prevent blurry elements when it's placed on half a pixel. */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* .carousel .item .img { 
  width: 100%; 
  max-width: 100%;
  /* max-height: 300px; */
   /* height: 25% !important;
  display: block;  */
 /* } */ 


  
  
>>>>>>> Stashed changes
