/* .container{
    position: relative;
    border-color: black;
} */
.carousela{
    position: relative;
    /* margin:auto; */
    width:100%;
    min-height:25% !important;
  max-height: 100px;
  object-fit: contain; 
}
/* .carousel .item .img { 
  width: 100%; 
  max-width: 100%;
  /* max-height: 300px; */
   /* height: 25% !important;
  display: block;  */
 /* } */ 


  
  