<div class="row ml-5 mt-5">
  <h1>Categories..</h1>
</div>
<div class="row ml-5">
  <p class="text-secondary">Choose the best from a wide set of verities.</p>
</div>
<div class="row ">
<div class="container mt-5">
  
  <div class="row">
    <!-- grid system in ng -->
    <div *ngFor="let category of categories" class="col-md-2 col-md-3 col-sm-6">
      <!-- <div *ngFor="let category of categories" class="col"> -->
      <app-category-card [category]="category"></app-category-card>
    </div>
 </div>
</div>
</div>